/*GLOBAL ==================*/
:root {
  --light-blue: #4381bf;
  --dark-blue: #363f5f;
  --dark-green: #2d4a22;
  --light-green: #49aa26;
  --lightness-green: #d7fcca;
  --white: #fff;
  --gray: #919191;
  --negative-red: #e92929;
  --positive-green: #12a454;

  --font-title: Georgia, "Times New Roman", Times, serif;
  --font-subtitle: "Courier New", Courier, monospace;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 93.75%;
}

body {
  background-color: #f5f7fa;
  color: #515151;
}

/* Trick que remore o elemento da tela mas mantem suas propriedades para leitores de tela */
.sr-only {
  border-width: 0;
  clip: rect(0, 0, 0, 0);
  height: 1;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1;
}

.container {
  width: min(90vw, 640px);
  margin: auto;
}
/*TITLES ==================*/
h2 {
  color: var(--dark-blue);
  font-family: var(--font-title);
  font-weight: 400;
  margin-bottom: 0.8rem;
  margin-top: 3.2rem;
}
h3 {
  color: var(--gray);
  font-family: var(--font-subtitle);
  font-size: 1rem;
  font-weight: 100;
  text-transform: uppercase;
}
/*BUTTONS & LINKS ==================*/

a {
  color: var(--dark-green);
  font-family: var(--font-subtitle);
  /* font-weight: bold; */
  text-decoration: none;
}
a:hover {
  color: var(--light-green);
}

button {
  background-color: var(--lightness-green);
  border-radius: 0.25rem;
  border: none;
  color: var(--positive-green);
  cursor: pointer;
  font-family: var(--font-subtitle);
  font-size: 16px;
  font-weight: bold;
  height: 50px;
  outline: none;
  padding: 0;
  width: 100%;
}
button:hover {
  background-color: var(--positive-green);
  color: var(--lightness-green);
}

.button.new {
  display: inline-block;
  margin-bottom: 0.8rem;
}
.button.cancel {
  align-items: center;
  border-radius: 0.25rem;
  border: 0.5px var(--negative-red) solid;
  color: var(--negative-red);
  display: flex;
  height: 50px;
  justify-content: center;
  opacity: 0.6;
}
.button.cancel:hover {
  opacity: 1;
}
.input-group.actions .button,
.input-group.actions button {
  width: 48%;
}

/*HEADER ==================*/
header {
  background: var(--light-blue);
  padding: 2rem 0 10rem;
  text-align: center;
}

header h1#logo {
  color: var(--white);
  font-family: var(--font-title);
  font-weight: 100;
}
/*BALANCE ==================*/

#balance {
  margin-top: -8rem;
}

#balance h2 {
  color: var(--white);
}

/*CARDS ==================*/

.card {
  background: var(--white);
  color: var(--dark-blue);
  padding: 1.5rem 2rem;
  border-radius: 0.25rem;
  margin-bottom: 2rem;
  transition: transform 650ms;
}

.card:hover {
  transform: scale(1.05);
}

.card p {
  font-family: var(--font-title);
  font-size: 2rem;
  line-height: 3rem;
  margin-top: 1rem;
}

.card.total {
  background: var(--lightness-green);
  color: var(--dark-green);
}

.card h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card.total h3 {
  color: var(--dark-green);
}

/*TABLE ==================*/

#transaction {
  display: block;
  overflow-x: auto;
  width: 100%;
}

#data-table {
  border-spacing: 0 0.5rem;
  color: #969cb3;
  /* display: block; */
  /* overflow: hidden; */
  width: 100%;
}

table thead tr th:first-child,
table tbody tr td:first-child {
  border-radius: 0.25rem 0 0 0.25rem;
}

table thead tr th:last-child,
table tbody tr td:last-child {
  border-radius: 0 0.25rem 0.25rem 0;
}

table th {
  background: var(--white);
  font-weight: normal;
  padding: 1rem 2rem;
  text-align: left;
}

table td {
  background-color: white;
  font-family: var(--font-title);
  font-weight: normal;
  padding: 1rem 2rem;
}

td.description {
  color: var(--dark-blue);
}
td.income {
  color: var(--positive-green);
}
td.expense {
  color: var(--negative-red);
}

table tbody tr {
  opacity: 0.7;
}

table tbody tr:hover {
  opacity: 1;
}

/*MODAL ==================*/

.modal-overlay {
  position: fixed;
  left: 0;
  top: 0;

  align-items: center;
  display: flex;
  justify-content: center;

  background-color: rgba(0, 0, 0, 0.7);

  height: 100%;
  width: 100%;

  opacity: 0;
  visibility: hidden;
}

.modal-overlay.active {
  opacity: 1;
  visibility: visible;
}

.modal {
  background-color: #f5f7fa;
  border-radius: 0.25rem;
  padding: 2.4rem;
  position: relative;
}

/*FOOTER ==================*/

.form {
  max-width: 500px;
}

.form h2 {
  margin-top: 0;
}

input {
  border-radius: 0.25rem;
  border: none;
  outline: none;
  padding: 0.8rem;
  width: 100%;
}

.input-group {
  margin-top: 0.8rem;
}

.input-group small {
  color: var(--gray);
  display: inline-block;
  font-family: var(--font-subtitle);
  margin-bottom: 1rem;
  margin-top: 0.5rem;
  text-transform: uppercase;
}

.input-group.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*FOOTER ==================*/
footer {
  color: var(--dark-blue);
  font-family: var(--font-title);
  font-size: 12px;
  opacity: 0.6;
  padding: 4rem 0 2rem;
  text-align: center;
}

/*RESPONSIVE ==================*/
@media (min-width: 800px) {
  html {
    font-size: 87.5%; /* (100% * 16px) / 87.5 */
  }
  #balance {
    display: grid;
    gap: 2rem;
    /* grid-template-columns: repeat(2, 1fr) 2fr; */
    grid-template-columns: repeat(3, 1fr);
  }
}
